<!DOCTYPE html>
<html>

<head>

    <title>Assignments</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='module.css') }}">

</head>

<body>

<div class="page">

    <h1>Assignments</h1>

    <div class="cards">

        <div class="card">

            <h2>Flask Project</h2>

            <p>Due Date: 25 May</p>

        </div>

        <div class="card">

            <h2>MongoDB Task</h2>

            <p>Due Date: 30 May</p>

        </div>

    </div>

</div>

</body>
</html>