<!DOCTYPE html>
<html>

<head>

    <title>Forgot Password</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='forgot.css') }}">

</head>

<body>

<div class="forgot-container">

    <div class="forgot-card">

        <h2>Forgot Password</h2>

        <p>
            Enter your username and new password
        </p>

        <form action="/reset_password"
        method="POST">

            <input type="text"
            name="username"
            placeholder="Username"
            required>

            <input type="password"
            name="new_password"
            placeholder="New Password"
            required>

            <button type="submit">
                Reset Password
            </button>

        </form>

        <a href="/">Back to Login</a>

    </div>

</div>

</body>
</html>