<!DOCTYPE html>
<html>

<head>

    <title>Progress</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='module.css') }}">

</head>

<body>
{% extends "layout.html" %}
<div class="page">

    <h1>Learning Progress</h1>

    <div class="cards">

        <div class="card">

            <h2>Python</h2>

            <p>75% Completed</p>

        </div>

        <div class="card">

            <h2>Web Development</h2>

            <p>60% Completed</p>

        </div>

    </div>

</div>

</body>
</html>