<!DOCTYPE html>
<html>

<head>

    <title>Settings</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='module.css') }}">

</head>

<body>

<div class="page">

    <h1>Settings</h1>

    <div class="settings-box">

        <form action="/update_settings"
        method="POST">

            <input type="text"
            name="new_username"
            placeholder="Change Username"
            required>

            <input type="password"
            name="new_password"
            placeholder="Change Password"
            required>

            <button type="submit">

                Save Changes

            </button>

        </form>

    </div>

</div>

</body>
</html>