{% extends "student_layout.html" %}

{% block content %}

        <!-- TOPBAR -->
        <div class="topbar">

            <div>
                <h1>Welcome, {{ username }}</h1>
                <p>Manage your studies professionally</p>
            </div>

            <div class="profile">
                <img src="https://cdn-icons-png.flaticon.com/512/3135/3135789.png">
            </div>

        </div>

<div class="stats">

    <div class="stat-card">

        <i class="fa-solid fa-book"></i>

        <div>
            <h2>{{ enrolled_courses }}</h2>
            <p>Total Courses</p>
        </div>

    </div>

</div>

<!-- RECENT COURSES -->

<div class="recent-section">

    <h1>Recent Courses</h1>
    <br>

    {% if recent_courses %}

        {% for course in recent_courses %}

            <div class="course-box">

                <h3>{{ course.course_name }}</h3>
                <p>{{ course.course_description }}</p>

            </div>

        {% endfor %}

    {% else %}

        <p>No courses available</p>

    {% endif %}

</div>

{% endblock %}