<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
    content="width=device-width, initial-scale=1.0">

    <title>Teacher Dashboard</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='teacher_dashboard.css') }}">

    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>

<body>

<div class="dashboard">

    <!-- SIDEBAR -->

    <div class="sidebar">

        <h2>EduPortal</h2>

        <ul>

            <li class="active">

                <i class="fa-solid fa-house"></i>
                Dashboard

            </li>

            <li>

                <i class="fa-solid fa-users"></i>
                Students

            </li>

            <li>

                <i class="fa-solid fa-book"></i>
                Classes

            </li>

            <li>

                <i class="fa-solid fa-file"></i>
                Assignments

            </li>

            <li>

                <i class="fa-solid fa-chart-line"></i>
                Reports

            </li>

            <a href="/logout">

                <li>

                    <i class="fa-solid fa-right-from-bracket"></i>
                    Logout

                </li>

            </a>

        </ul>

    </div>

    <!-- MAIN -->

    <div class="main-content">

        <div class="topbar">

            <div>

                <h1>
                    Welcome, {{ username }}
                </h1>

                <p>
                    Teacher Management Dashboard
                </p>

            </div>

            <img src="https://cdn-icons-png.flaticon.com/512/3135/3135789.png">

        </div>

        <!-- CARDS -->

        <div class="cards">

            <div class="card">

                <i class="fa-solid fa-users"></i>

                <h2>120</h2>

                <p>Total Students</p>

            </div>

            <div class="card">

                <i class="fa-solid fa-book"></i>

                <h2>8</h2>

                <p>Classes</p>

            </div>

            <div class="card">

                <i class="fa-solid fa-file"></i>

                <h2>15</h2>

                <p>Assignments</p>

            </div>

            <div class="card">

                <i class="fa-solid fa-chart-line"></i>

                <h2>95%</h2>

                <p>Performance</p>

            </div>

        </div>

    </div>

</div>

</body>
</html>