{% extends "layout.html" %}

{% block content %}

<div class="page-header">
    <h2>Students</h2>
    <p>Manage and view all registered students</p>
</div>

<div class="card">

    <h3>Student List</h3>

    <table>

        <tr>
            <th>Student Name</th>
            <th>Course</th>
        </tr>

        {% for student in students %}

        <tr>
            <td><b>{{ student.username }}</b></td>
            <td>
                
    <div>

    {% if student.signup_courses %}
        <span class="badge">{{ student.signup_courses[0] }}</span>
    {% else %}
        <span>No signup course</span>
    {% endif %}
    </div>
        </tr>

        {% endfor %}

    </table>

</div>

{% endblock %}